{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta charset="utf-8">
		 <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static "css/base.css" %}">
	</head>
	<body>
		<div class="top-content">
			<div class="header-row">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav class="navbar-fixed-top">
							<div class="navbar-header">
								<div class="navbar-brand">
								</div>
							</div>
							<div class="collapse navbar-collapse navbar-right">
								<ul class="nav navbar-nav">
									<li><a href="#">Home</a></li>
									<li><a href="#">How It Works</a></li>
									<li><a href="#">Pricing</a></li>
									<li><a href="#">FAQ</a></li>
									<li><a href="#">Contact Us</a></li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="header-content text-right">
							<h1>Turn your Instagram Photos into Posters!</h1>
							<p>That's right! Your instagram photos will now be beautiful high quality posters adorning your ugly walls</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="middle-content">
			<div class="row">
				<div class="col-md-12">
					<h2>It's easier than ever to go from digital to paper</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="content-wrapper">
						<div class="col-md-4">
							<div class="step"> 
								<h3>Step 1</h1>
								<div class="step-img">
									<img src="http://placehold.it/180x130">
								</div>
								<p>First you gotta take the pictcha. Without the pictcha, you aint got nothin!</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="step">
								<h3>Step 2</h1>
								<div class="step-img">
									<img src="http://placehold.it/180x130">
								</div>
								<p>Once you got da pictcha, load it onto this here our tool. Give us your money have a drink</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="step">
								<h3>Step 3</h1>
								<div class="step-img">
									<img src="http://placehold.it/180x130">
								</div>
								<p>Receive the poster and hang it up on your wall for everyone to see. You're a star!sss</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>