{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta charset="utf-8">
		 <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
		 <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static "css/base.css" %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="top-content">
			<div class="header-row">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav class="navbar-fixed-top">
							<div class="navbar-header">
								<div class="navbar-brand">
								</div>
							</div>
							<div class="collapse navbar-collapse navbar-right">
								<ul class="nav navbar-nav">
									<li><a href="#">Home</a></li>
									<li><a href="#">How It Works</a></li>
									<li><a href="#">Pricing</a></li>
									<li><a href="#">FAQ</a></li>
									<li><a href="#">Contact Us</a></li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="header-content text-right">
							<h1>Turn your Instagram Photos into Posters!</h1>
							<p>That's right! Your instagram photos will now be beautiful high quality posters adorning your ugly walls</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="steps-content">
			<div class="row">
				<div class="col-md-12">
					<h2>It's easier than ever to go from digital to paper</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="content-wrapper">
						<div class="col-md-4 col-sm-4">
							<div class="step"> 
								<h3>Step 1</h3>
								<div class="step-img">
									<img class="img-responsive" src="http://lorempixel.com/180/130/sports/1/">
								</div>
								<p>First you gotta take the pictcha. Without the pictcha, you aint got nothin!</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="step">
								<h3>Step 2</h3>
								<div class="step-img">
									<img class="img-responsive" src="http://lorempixel.com/180/130/sports/2/">
								</div>
								<p>Once you got da pictcha, load it onto this here our tool. Give us your money have a drink</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="step">
								<h3>Step 3</h3>
								<div class="step-img">
									<img class="img-responsive" src="http://lorempixel.com/180/130/sports/3/">
								</div>
								<p>Receive the poster and hang it up on your wall for everyone to see. You're a star!sss</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="who-are-we">
			<div class="we-are-img">
				<img class="img-responsive" src="/static/img/bike-girl.jpg">
			</div>
			<div class="we-are-text">
				<h3>A little bit about our team</h3>
				<p>I guess we're not really a team. We are one person. That person has nothing better to do than to design this site. It's fun but it's mostly staring at the screen a lot. This person needs a life!</p>
				<p>This site was built purely to develop my webdesigining skills. As you can see, not that much development is happening. Gradually perhaps this will become a real site which gets visitors who want the things that this site provides. Until then, we wait, and pretend to grow</p>
				<p>I hope this is enough text. I'll be bummed out if this isn't enough text and I have to add more. I guess this is the last line I'll write before going and checking if this was enough. Fingers crossed and all that</p>
			</div>
		</div>
		<div class="happy-customers">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="http://placehold.it/350x150" alt="...">
						<div class="carousel-caption">
							Slide 1
						</div>
					</div>
					<div class="item">
						<img src="http://placehold.it/350x150" alt="...">
						<div class="carousel-caption">
							Slide 2
						</div>
					</div>
				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</body>
</html>