html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.body {
	font-family: 'Roboto',sans-serif;
}

.top-content {
	width: 100%;
	background: linear-gradient( rgba(9, 44, 74, 0.7), rgba(0, 0, 0, 0.7) ), url(/static/img/top-content-bg.jpg);
	background-size: cover;
	padding-bottom: 200px;
}

.header-row {
	width: 100%;
	height: 60px;
	position: fixed;
	z-index: 5;
	background: -moz-linear-gradient(top, rgba(28,32,37,0.98) 0%, rgba(31,40,56,0.91) 99%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(28,32,37,0.98)), color-stop(99%,rgba(31,40,56,0.91)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(28,32,37,0.98) 0%,rgba(31,40,56,0.91) 99%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(28,32,37,0.98) 0%,rgba(31,40,56,0.91) 99%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(28,32,37,0.98) 0%,rgba(31,40,56,0.91) 99%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(28,32,37,0.98) 0%,rgba(31,40,56,0.91) 99%,rgba(255,255,255,1) 100%);
}



@media screen (min-width: 768px) {
	.navbar-fixed-top {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.navbar-fixed-top {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.navbar-fixed-top {
		width: 1170px;
	}
}


.navbar-fixed-top {
	margin: auto;
	margin-top: 8px;
	padding-right: 15px;
	padding-left: 15px;
	z-index: 6;	
}

.navbar-nav>li>a {
	color: #F54702;
	font-weight: 600;
	font-size: 14px;
	text-shadow: none;
}

.header-content {
	margin-top: 250px;
}

.header-content h1 {
	font-size: 56px;
	color: white;
	line-height: 1.25em;
}

.header-content p {
	width: 80%;
	float: right;
	color: white;
	font-size: 18px;
}

@media (max-width: 992px) {
	.header-content {
		text-align: center;
	}

	.header-content p {
		width: 100%;
		margin: auto;
	}
}

.steps-content {
	width: 100%;
	padding-bottom: 100px;
	padding-top: 60px;
	background-color: #20443D;
	text-align: center;
	color: white;
}

.step {
	margin-top: 15px;
	padding: 15px;
	border: 1px solid white;
	border-radius: 15px;
	margin: auto;
}

.step-img .img-responsive {
	margin: auto;
}

.step-img {
	margin-top: 20px;
	margin-bottom: 20px;
}

.steps-content .col-md-12 {
	padding-bottom: 15px;
}

.steps-content .col-md-4 {
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 40px;
}

.who-are-we {
	width: 100%;
	font-family: "open serif" sans-serif;
}

.we-are-img {
	width: 40%;
	float: left;
	padding: 20px;
}

.we-are-text {
	width: 60%;
    float: left;
    padding: 20px;
    padding-right: 8%;
}

.we-are-text h3 {
	margin-bottom: 20px;
}

.we-are-text p {
	line-height: 1.75em;
	font-size: 16px;
}

@media (max-width: 900px) {
	.we-are-img {
		display: none;
	}

	.we-are-text {
		margin: auto;
		float: none;
		width: 90%;
		padding: 0;
		text-align: justify;
		font-size: smaller;
	}

	.we-are-text h3 {
		text-align: center;
	}
}

.happy-customers {
	width: 100%;
	padding-bottom: 100px;
	padding-top: 60px;
	float: left;
	background: url(/static/img/buildings.jpg);
	background-size: cover;
	max-height: 700px;
}

.carousel {
	margin: auto;
	width: 350px;
}